<h4>Lista</h4>
<ul *ngFor="let character of listCharacters; 
            let i=index
            let isFirst= first
            let isLast= last
            let isEven= even" 
            class="list-group">
    <li [ngClass]="{'list-group-item-success':isEven}" 
        class="list-group-item d-flex 
               justify-content-between align-items-center">
        <div>
            <span class="text-primary">{{i+1}}. </span>
            <span>{{character.name}}</span>
            <strong>- Power: {{character.power}}</strong>
        </div>
        
        <button (click)="DeleteCharacterById(character.id)" class="btn btn-danger btn-sm">x</button>
    </li>
    <!--<p>{{variableList}}</p>-->
</ul> 