<h2>Superheroes</h2>

<dl>
    <td>Nombre:</td>
    <dd>{{Name}}</dd>
    <td>Edad:</td>
    <dd>{{Age}}</dd>
    <td>Herou Code:</td>
    <dd>{{heroCode}}</dd>
    <dd>{{getHeroDescription()}}</dd>
</dl>

<button *ngIf="Name ==='Spiderman'" (click)="changeHero('Iron Man')" class="btn btn-small btn-primary mx-2">
    Name Changed
</button>
<button *ngIf="Age === 25" (click)="changeAge(50)" class="btn btn-small btn-info">
    Age Changed
</button>
<button (click)="resetForm()" class="btn btn-success mx-2">Reset</button>
